.vscode/**
.vscode-test/**
src/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
.vscodeignore
webpack.config.js
package-lock.json
**/*.ts
_bmad/**
_bmad-output/**
.claude/**
example/**
